/*       ___   ___ ___  ____             _                _  _ ___  
        |__ \ / _ \__ \|___ \           | |              | || |__ \ 
   ___     ) | | | | ) | __) | __      _| |__   ___  _ __| || |_ ) |
 / __|    / /| | | |/ / |__ <  \ \ /\ / / '_ \ / _ \| '_ \__   _/ / 
| (__   / /_| |_| / /_ ___) |  \ V  V /| | | | (_) | |_) | | |/ /_ 
\___|  |____|\___/____|____/    \_/\_/ |_| |_|\___/| .__/  |_|____|
                                                   | |             
                 mit license                       |_|    */

/* Copyright © 2023 whop42

  Permission is hereby granted, free of charge, to any person obtaining a copy of this
  software and associated documentation files (the “Software”), to deal in the Software
  without restriction, including without limitation the rights to use, copy, modify,
  merge, publish, distribute, sublicense, and/or sell copies of the Software, and to
  permit persons to whom the Software is furnished to do so, subject to the following
  conditions:

  The above copyright notice and this permission notice shall be included in all copies
  or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
  INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
  PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
  HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
  OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
  SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. */

:root {
  /* global */
  background-color: black;
  color: white;

  /* vars */
  --accent-color: #9227c4;
  --accent-color-darker: #831fb1;
  --ascii-rotation: 10deg;

  font-family: monospace;
  font-size: 11pt;
  overflow-x: hidden;
}

/* ========================================================= */
/* NAVBAR begin */

nav {
  background-color: black;
  width: 100%;
  opacity: 0.95;
  position:fixed;
  z-index: 99;
}

.nav-options {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-option,
.nav-title {
  float: left;
}

.nav-option a,
.nav-title {
  display: block;
  color: white;
  text-align: center;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  transition: background-color 0.5s;
  margin: 5px;
}

.nav-title {
  font-size: larger;
}

.nav-option {
  float: right;
}

.nav-option a {
  border-bottom: 3px solid var(--accent-color);
  border-radius: 5px;
}

/* Change the link color to #111 (black) on hover */
.nav-option a:hover,
.nav-option.current {
  background-color: var(--accent-color);
}

/* NAVBAR end */
/* ========================================================= */
/* HERO begin */

.nav-title:hover,
.ascii-title:hover {
  color: var(--accent-color);
  font-weight: bold;
  text-decoration-line: none;
}

#tagline {
  position: absolute;
  margin-top: 20rem;
  font-size: larger;
}

.ascii-art {
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  overflow: hidden;
}

.nav-title,
.ascii-title {
  transition: color 1s;
}

.ascii-wrapper:hover {
  font-size: large;
}

.ascii-wrapper {
  transition: font-size 0.7s;
  font-size: medium;
  position: relative;
}

.blob {
  background-color: transparent;
  transition: background-color 0.7s ease-out;
}

.ascii-title {
  position: absolute;
}

#scrolling-background {
  margin: 0;
  padding: 0;
  width: 1fr;
  height: 1fr;
}

.ascii-wrapper:hover .blob {
  position: absolute;
  content: "";
  background-color: var(--accent-color-darker);
  padding: 25px;
  border-radius: 20%;
  height: 90%;
  width: 110%;
  transform: translate(-5%, -18%);
  transition: background-color 0.7s ease-in-out;
  opacity: 0.2;
  filter: blur(50px);
}

/* HERO end */
/* ========================================================= */
/* CONTENT begin */

.content-container {
  display: inherit;
}

.comment {
  color: var(--accent-color-darker);
  font-style: normal;
  font-weight: bold;
}

strong {
  color: var(--accent-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--accent-color-darker);
}

a:hover {
  text-decoration-line: underline;
}

footer {
  width: 100%;
  text-align: center;
  margin: 20px;
  margin-top: 100px;
}

/* CONTENT end */
/* ========================================================= */
/* PROJECTS begin */

.cards {
  display: flex;
  gap: 5px;
  /* space evenly */
  flex-wrap: wrap;
  /* center content */
  justify-content: center;
  align-items: center;
  /* make cards responsive */
  width: 100%;
  height: 100%;
  overflow: hidden;

}

.project-card {
  border: 2px solid var(--accent-color-darker);
  padding: 10px;
  border-radius: 5px;
  min-width: 15rem;
  max-width: 20rem;
  height: 30rem;
  overflow-y: scroll;
}

.project-card h3,
.project-card h5 {
  text-align: center;
}

.project-card img {
  /* make image responsive and centered and take entire space */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  position:relative;
  filter: grayscale();
}

.project-card h5 {
  font-style: italic;
  color: rgb(192, 192, 192);
}

.project-card h3 {
  font-size: xx-large;
  margin: 0;
  margin-top: 1rem;
}

.projects-container {
  margin: 20px;
}

/* PROJECTS end */
/* ========================================================= */