.hero {
  height: 500px;
  /*background-image: url("https://via.placeholder.com/500?text=Placeholder");*/
  background: rgb(1,120,11);
  background: -moz-linear-gradient(42deg, rgba(1,120,11,0.9472163865546218) 12%, rgba(0,190,16,1) 100%);
  background: -webkit-linear-gradient(42deg, rgba(1,120,11,0.9472163865546218) 12%, rgba(0,190,16,1) 100%);
  background: linear-gradient(42deg, rgba(1,120,11,0.9472163865546218) 12%, rgba(0,190,16,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#01780b",endColorstr="#00be10",GradientType=1);
  text-align: center;
  padding-top: 160px;
}


.hero-buttons {
  width: 25%;
  padding-top: 10px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
}

